BIPIT06/Web-Client/Connected Services/ServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BIPIT05" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BIPIT05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShippings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shippings" nillable="true" type="tns:Shippings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShippings" nillable="true" type="tns:ArrayOfShippings" />
  <xs:complexType name="Shippings">
    <xs:sequence>
      <xs:element minOccurs="0" name="shipping_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="client_fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="service_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="service_cost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shipping_date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shippings" nillable="true" type="tns:Shippings" />
</xs:schema>