BIPIT05/Client/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIPIT05" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IService_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NewRec_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRec" />
  </wsdl:message>
  <wsdl:message name="IService_NewRec_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRecResponse" />
  </wsdl:message>
  <wsdl:message name="IService_isHostAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:isHostAlive" />
  </wsdl:message>
  <wsdl:message name="IService_isHostAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:isHostAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClients" message="tns:IService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClientsResponse" message="tns:IService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetServices" message="tns:IService_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetServicesResponse" message="tns:IService_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRec">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NewRec" message="tns:IService_NewRec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NewRecResponse" message="tns:IService_NewRec_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isHostAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/isHostAlive" message="tns:IService_isHostAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/isHostAliveResponse" message="tns:IService_isHostAlive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://tempuri.org/IService/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRec">
      <soap:operation soapAction="http://tempuri.org/IService/NewRec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isHostAlive">
      <soap:operation soapAction="http://tempuri.org/IService/isHostAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>