BIPIT_KR/KR!_Front/KR!_Front/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Supplier" nillable="true" type="tns:Supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplier" nillable="true" type="tns:ArrayOfSupplier" />
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupplierCode" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="ArrayOfWaybill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Waybill" nillable="true" type="tns:Waybill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWaybill" nillable="true" type="tns:ArrayOfWaybill" />
  <xs:complexType name="Waybill">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupplierCode" type="xs:int" />
      <xs:element minOccurs="0" name="WaybillDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WaybillSum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Waybill" nillable="true" type="tns:Waybill" />
</xs:schema>